/* Esto es el css de la pantalla de seleccion de personaje*/
@font-face{
  font-family: fuenteLibre;
  src:url(../res/THWACK.TTF);
}

body,html {
  margin: 10px;
  font-family: fuenteLibre;
  background: url(../img/fonfoMenuInicio.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
}
 a {
   color: #83670B;
   }
   
.Seleccion{
margin-left: 170px;
margin-top: 100px;
float: left;
}

#TituloSeleccion{
  text-align: center;
  height: 50px;
}

.VolverMenu{ /*boton de volver al menu principal*/
  margin-top: 120px;
  margin-left: 120px;
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #ff6559;
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  border-color: black;
}
